@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  background: #f8f8fb;
}

.dark body {
  background: #141625;
}
.dark .label-text {
  @apply text-[#DFE3FA];
}
.label-text {
  @apply text-[13px] text-[#7E88C3] font-medium tracking-[-0.1px];
}

.receipt-input-style {
  @apply w-full outline-none text-base font-bold border-[#DFE3FA] border h-12 rounded-[4px] focus:border-[#9277FF];
}
.dark .receipt-input-style {
  @apply bg-[#1E2139] border-[#252945];
}

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}